@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

@theme {
    --font-montserrat: "Montserrat", sans-serif;

    /* Dark theme */
    --color-dark: #242424;
    --color-card-dark: #373737;
    --color-light: #FFFFFF;
    --color-medium-gray: #5A5A5A;
    --color-light-gray: #D9D9D9;
}

/* Light theme */
:root {
    --color-dark: #f3ebda;
    --color-card-dark: #e2dbcf;
    --color-light: #000000;
    --color-medium-gray: #bbb7b0;
    --color-light-gray: #404040;
}

/* Dark theme */
.dark {
    --color-dark: #242424;
    --color-card-dark: #373737;
    --color-light: #FFFFFF;
    --color-medium-gray: #5A5A5A;
    --color-light-gray: #D9D9D9;
}