@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

@theme {
    --font-montserrat: "Montserrat", sans-serif;

    /* Dark theme */
    --color-dark: #242424;
    --color-card-dark: #373737;
    --color-light: #FFFFFF;
    --color-medium-gray: #5A5A5A;
    --color-light-gray: #D9D9D9;
}

/* Light theme */
:root {
    --color-dark: #f3ebda;
    --color-card-dark: #e2dbcf;
    --color-light: #000000;
    --color-medium-gray: #bbb7b0;
    --color-light-gray: #404040;
}

/* Dark theme */
.dark {
    --color-dark: #242424;
    --color-card-dark: #373737;
    --color-light: #FFFFFF;
    --color-medium-gray: #5A5A5A;
    --color-light-gray: #D9D9D9;
}

.background--custom {
    background: linear-gradient(90deg, #F472B6, #5EEAD4);
    background-size: 300% 300%;
    animation: gradient 5s alternate infinite;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.rounded-inherit {
    border-radius: inherit;
}

.border-gradient-rounded::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #F472B6, #5EEAD4);
    mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
    mask-composite: subtract;
    /* -webkit-mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
    -webkit-mask-composite: source-out; */
}