@import "tailwindcss";

@variant dark (.dark &);

::-webkit-scrollbar {
    display: none;
}

@theme {
    --font-montserrat: "Montserrat", sans-serif;

    /* Light theme colors */
    --color-background: #f3ebda;
    --color-surface: #e2dbcf;
    --color-text: #000000;
    --color-medium-gray: #bbb7b0;
    --color-light-gray: #404040;

    /* Dark theme colors */
    --color-background-dark: #242424;
    --color-surface-dark: #373737;
    --color-text-dark: #FFFFFF;
    --color-medium-gray-dark: #5A5A5A;
    --color-light-gray-dark: #D9D9D9;

    /* Shared colors (same in both themes) */
    --teal-light: #93ffef;
    --teal-medium: #5EEAD4;
    --teal-dark: #42a898;
    --pink-medium: #F472B6;
    --pink-light: #ffb4db;
}


.rounded-inherit {
    border-radius: inherit;
}

.border-gradient-rounded::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #F472B6, #5EEAD4);
    mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
    mask-composite: subtract;
    /* -webkit-mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
    -webkit-mask-composite: source-out; */
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}
